body{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
  }
  .main{
    margin-top: 10px;
  }
  .footer{
    background-color: rgb(104, 156, 139);
    color: #4d2323;
  }
  .nav{
    background-color: rgb(104, 156, 139);
    color: #4d2323;
  }
  .container {
    display: flex;
    align-items: center;
    margin-left: 1%;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  html {
    scroll-behavior: smooth;
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
  a {
    color: #20553b;
    text-decoration: none;
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 50%;
  }
  .underline-border{
    padding-bottom: 1%;
    border-bottom: #20553b solid;
    margin-right: 10%;
  }
  .section-profile {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: rgb(104, 156, 139) solid 15px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .section {
      width: 100%;
    }
  }
  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
  .square-image {
    width: 200px;
    height: 200px;
    margin-left: 10%;
    object-fit: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
  .profile {
    font-size: 200%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* border: 1px solid black; */
    text-decoration: rgb(30, 44, 35) underline solid;
    margin-left: 50%;
    width: 150%;
    color: #829985;
    position: relative
  }
  .specialist {
    font-size: 20px;
    font-weight: 700;
    margin-top: -10%;
    letter-spacing: 5px;
    /* border: 1px solid black; */
    /* text-decoration: rgb(30, 44, 35) underline solid; */
    margin-left: 50%;
    width: 150%;
    color: #829985;
    position: relative
  }
  .image-with-text {
    display: flex;
    align-items: center;
  }
  .image-footer{
    align-items: right;
    width: 100px;
    height: 40px;
    margin-left: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
